.skillsContiainer {
    width: 100vw;
    min-height: 85vh;
    margin: 0;
    overflow: auto;
    background: #1a1c20;
}
.skillsContiainer img {
    margin: auto 1%;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    .skillsContiainer img {
        width: 13% !important;
        height: 13% !important;
    }
    .skillsContiainer .images-grp {
        display: inline-block !important;
        width: 100%;
    }
}