#btn {
    display: inline-block;
    font-size: 12px;
    padding: 10px 20px;
    background: transparent;
    color: #16c79a;
    border: 1px solid;
    border-radius: 20px;
    border-color: #16c79a;
    box-sizing: border-box;
    letter-spacing: 1px;
    transition-duration: 500ms;
}

#btn:hover {
    cursor: pointer;
    background: #16c79a !important;
    color: #fff;
    box-shadow: #6dba6d 0px 0px 10px 0px;
    border-color: transparent;
    transition-duration: 500ms;
}