.project {
    display: inline-flex;
    width: 100%;
    height: auto !important;
}
.projectText {
    background: #222831;
    width: 100%;
    margin: 1%;
}
.projectText div {
    margin: 8px 16px;
}
#projectFooter {
    text-align: right;
    margin-top: 24px;
}
.icon {
    font-size: 1.6rem;
    color: #f8f5f1;
    transition-duration: 300ms;
    margin: 6px;
}
.icon:hover {
    color: #f8a488;
    cursor: pointer;
    transition-duration: 300ms;
}

@media screen and (max-width: 600px) {
    .projectText {
        margin-top: 0;
    }
}
@media screen and (min-width: 601px) {
    .project {
        width: 45%;
    }
}