.project {
    display: flex;
    width: 100%;
}
#imgBlock {
    width: 50%;
    text-align: center;
    justify-content: center;
    background: rgb(27, 27, 27);
}
.project img {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.projectText {
    width: 50%;
    background: #222831;
}
.projectText div {
    margin: 8px 16px;
}
#projectFooter {
    text-align: right;
    margin-top: 24px;
}
.icon {
    font-size: 1.6rem;
    color: #f8f5f1;
    transition-duration: 300ms;
    margin: 6px;
}
.icon:hover {
    color: #f8a488;
    cursor: pointer;
    transition-duration: 300ms;
}
* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}