footer {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}
#links {
    position: relative;
    background: #1a1c20;
    margin: 0;
    padding-bottom: 16px;
    padding-top: 64px;
}
.footerText {
    margin-bottom: 4px;
}